<include href="views/header.html"></include>
<div class="container-fluid">
    <h1>About Us</h1>

    <div class="row" id="aboutrow1">
        <div class="col-6 description">
            <h2 id="new">About Our Shelter</h2>
            <p> We are all about rescuing pets. We connect pets who need families with families who need pets.
                We have been in operation for over ten years and helped re-home and save hundreds of pets.
                We hope you will bring one of these little guys home to their forever home.</p>
        </div>
        <div class="col-6 img-div">
            <img src="images/shelter.jpg" class=img-fluid" id="kennels" alt="Picture of kennels in animal shelter">
            <img src="images/yarddogs.jpg" class=img-fluid" id="yarddogs" alt="Picture of dogs outside">
        </div>
    </div>
    <div class="row" id="aboutrow2">
        <h2>Reviews</h2>
        <p><em>"The staff at this animal shelter were incredibly
            friendly and knowledgeable, making it a joy to adopt my new furry friend!"</em></p>
        <p><em>"The adoption process was smooth, informative, and made me feel confident that
            I was matching with the purrfect furry companion for my home."</em></p>
    </div>


    <div class="row" id="aboutro3">
        <div class="col-6 img-div">
            <img src="images/male-vet.jpg" class=img-fluid" id="vet" alt="Picture of a cat with a veteranarian">
        </div>
        <div class="col-6 description">
            <h2 id="vets">Our Vets</h2>
            <p>We have our own in-house vets who make sure that all animals we adopt-out are in excellent health.
                In addition to making sure your pet is healthy before you take him home, we make sure that he
                stays that way always, but providing sliding-scale veteranary services for families who have
                adopted one of our pets.

                <br>
                Meet Dr. Johnson. He is a highly skilled and compassionate veterinarian who has been providing exceptional
                care for pets for many years. He has a genuine love for animals and it shows in his dedication to his work.
                Dr. Johnson is highly knowledgeable and stays up-to-date on the latest medical advancements in veterinary
                care, ensuring that he is providing the best possible care for his patients. He has a gentle touch,
                making even the most nervous pets feel at ease during their visits. His patience and understanding
                nature allows him to take the time to listen to her clients' concerns and answer any questions they
                may have. Dr. Johnson truly embodies what it means to be a great veterinarian.


            </p>
        </div>
    </div>



</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
