<include href="views/header.html"></include>
<div class="container-fluid">
    <br>
    <h1 class="about-title text-center">About Us</h1>

    <div class="row" id="aboutrow1">
        <div class="col-lg-6">
            <div class="description rounded">
                <h2 id="new" class="text-center">About Our Shelter</h2>
                <p class="pad-text">
                    We are all about rescuing pets. We connect pets who need families with families who need pets.
                    We have been in operation for over ten years and helped re-home and save hundreds of pets.
                    We hope you will bring one of these little guys home to their forever home.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="images/shelter.jpg" class="img-fluid img-size rounded" id="kennels" alt="Picture of kennels in animal shelter">
        </div>
    </div>

   <br>

    <div class="row" id="aboutro2">
        <div class="col-lg-6">
            <img src="images/male-vet.jpg" class="img-fluid img-size rounded" id="vet" alt="Picture of a cat with a veteranarian">
        </div>
        <div class="col-lg-6">
            <div class="description rounded">
                <h2 id="vets" class="text-center">Our Vets</h2>
                <p class="pad-text">
                    &nbsp &nbsp &nbsp &nbsp We have our own in-house vets who make sure that all animals we adopt-out are in excellent health.
                    In addition to making sure your pet is healthy before you take him home, we make sure that he
                    stays that way always, but providing sliding-scale veteranary services for families who have
                    adopted one of our pets.
                    <br>
                    &nbsp &nbsp &nbsp &nbsp Meet Dr. Johnson. He is a highly skilled and compassionate veterinarian who has been providing exceptional
                    care for pets for many years. He has a genuine love for animals and it shows in his dedication to his work.
                    Dr. Johnson is highly knowledgeable and stays up-to-date on the latest medical advancements in veterinary
                    care, ensuring that he is providing the best possible care for his patients. He has a gentle touch,
                    making even the most nervous pets feel at ease during their visits. His patience and understanding
                    nature allows him to take the time to listen to her clients' concerns and answer any questions they
                    may have. Dr. Johnson truly embodies what it means to be a great veterinarian.
                </p>
            </div>
        </div>
    </div>

        <br>

    <div class="row" id="aboutro3">
        <div class="col-lg-6">
            <div class="description rounded">
                <h2 class="text-center">Reviews</h2>
                <p class="pad-text">
                    <em>"The staff at this animal shelter were incredibly
                        friendly and knowledgeable, making it a joy to adopt my new furry friend!"</em>
                </p>
                <p class="pad-text">
                    <em>"The adoption process was smooth, informative, and made me feel confident that
                        I was matching with the purrfect furry companion for my home."</em>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="images/yarddogs.jpg" class="img-fluid img-size rounded" id="yarddogs" alt="Picture of dogs outside">
        </div>
    </div>
</div>

<br>

<include href="views/footer.html"></include>