<include href="views/header.html"></include>
<br>
<h2 class="about-title text-center">Add a new pet to the shelter</h2>

<form action="shelterpet" method="post" enctype="multipart/form-data">
  <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <label for="name" class="control-label">Pet's Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="col-3">
            <label for="age" class="control-label">Age of Pet</label>
            <input type="text" class="form-control" id="age" name="age">
          </div>
          <div class="col-3">
            <label for="sex" class="control-label">Sex of Pet</label>
            <input type="text" class="form-control" id="sex" name="sex">
          </div>
          <div class="col-3">
            <label for="species" class="control-label">Pet Species</label>
            <input type="text" class="form-control" id="species" name="species">
          </div>
        </div>

        <div class="row">
          <div class="col-2">

          </div>
          <div class="col-4">
            <label for="city" class="control-label">City</label>
            <input type="text" class="form-control" id="city" name="city">
          </div>
          <div class="col-2">
            <label for="state" class="form-label text">State:</label><br>
            <select class="form-select" name="state" id="state">
                <option value="" selected="selected">Select a State</option>
              <repeat group="{{ @states }}" key="{{ @key }}" value="{{ @val }}">
                <option value="{{ @key }}"> {{ @val }} </option>
              </repeat>
            </select>
          </div>
          <div class="col-4">
            <label for="status" class="control-label">Status</label>
            <input type="text" class="form-control" id="status" name="status">
          </div>
        </div>




    <div class="col-lg-4">
      <label for="file" class="form-label text">Select Image to Upload:</label>
      <input class="text" id="file" type="file" name="file">

      <check if="{{ isset( @errors['imageError'])}}">
        <span class="text-danger">{{ @errors['imageError'] }}</span>
      </check>
    </div>


          <div class="col-3">
            <label for="kids" class="control-label">Good with children?</label>
            <input type="text" class="form-control" id="kids" name="kids">
          </div>

          <div class="col-3">
            <label for="goodwpets" class="control-label">Good with other Pets?</label>
            <input type="text" class="form-control" id="goodwpets" name="goodwpets">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control h-100" id="description" name="description"></textarea>
          </div>

          <div class="col-6">
            <label for="health" class="form-label">Health Concerns</label>
            <textarea class="form-control h-100" id="health" name="health"></textarea>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row d-flex align-self-end">
          <div class="col-6">

            <div class="d-grid gap-2">
              <input type="submit" name="submit" value="upload" class="btn btn-primary next-button">Next</input>
            </div>

        </div>

      </div>
    </form>

  </div>

</div>

<!--

 -->


<include href="views/footer.html"></include>