<include href="views/header.html"></include>
<br>
<h2 class="about-title text-center">Add a new pet to the shelter</h2>

<form id="shelterform" action="shelterpet" method="post" enctype="multipart/form-data">
  <div class="container-fluid">
      <!--first row of form -->
        <div class="row d-flex justify-content-center">

            <!--name -->
          <div class="col-lg-2">
            <label for="name" class="form-label text">Pet's Name:</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ @SESSION.name }}">
              <span class="err" id="err-name">Name is Required</span>
          </div>
            <check if="{{ isset( @errors['name'])}}">
                <span class="text-danger">{{ @errors['name'] }}</span>
            </check>
            <!--age -->
            <div class="col-lg-1">
                <label for="age" class="form-label text">Age:</label>
                <input type="text" id="age" name="age" class="form-control" value="{{ @SESSION.age }}">
                <span class="err" id="err-age">Age is Required</span>
                <check if="{{ isset( @errors['age'])}}">
                    <span class="text-danger">{{ @errors['age'] }}</span>
                </check>
            </div>
            <!--species -->
            <div class="col-lg-2">
                <label for="species" class="form-label text">Species:</label>
                <select class="form-select" name="species" id="species">
                    <option value="" selected="selected">Select a Species</option>
                    <repeat group="{{ @species}}" value="{{ @val }}">
                        <option value="{{ @val }}"> {{ @val }} </option>
                    </repeat>
                </select>
                <span class="err" id="err-species">Please indicate if cat or dog</span>
                <check if="{{ isset( @errors['species'])}}">
                    <span class="text-danger">{{ @errors['species'] }}</span>
                </check>
            </div>
            <!--sex -->
            <div class="col-lg-1">
                <label for="sex" class="form-label text">Sex:</label><br>
                <select class="form-select" name="sex" id="sex">
                    <option value="" selected="selected">Select a Sex</option>
                    <repeat group="{{ @sex }}" value="{{ @val }}">
                        <option value="{{ @val }}"> {{ @val }} </option>
                    </repeat>
                </select>
                <span class="err" id="err-sex">Sex is Required</span>
                <check if="{{ isset( @errors['sex'])}}">
                    <span class="text-danger">{{ @errors['sex'] }}</span>
                </check>
            </div>
        </div>

      <!--2nd row -->
        <div class="row d-flex justify-content-center">
            <!--city -->
          <div class="col-lg-2">
                <label for="city" class="form-label text">City:</label>
                <input type="text" id="city" name="city" class="form-control" value="{{ @SESSION.city }}">
                <span class="err" id="err-city">City is Required</span>
                 <check if="{{ isset( @errors['city'])}}">
                    <span class="text-danger">{{ @errors['city'] }}</span>
                </check>
            </div>

            <!--state -->
          <div class="col-lg-2">
              <label for="state" class="form-label text">State:</label><br>
              <select class="form-select" name="state" id="state">
                  <option value="" selected="selected">Select a State</option>
                  <repeat group="{{ @states }}" key="{{ @key }}" value="{{ @val }}">
                      <option value="{{ @key }}"> {{ @val }} </option>
                  </repeat>
              </select>
              <check if="{{ isset( @errors['state'])}}">
                  <span class="text-danger">{{ @errors['state'] }}</span>
              </check>
          </div>
            <!--state -->
            <div class="col-lg-2">
                <label for="status" class="form-label text">Status:</label>
                <select class="form-select" name="status" id="status">
                    <option value="" selected="selected">Select a Status</option>
                    <repeat group="{{ @status}}" value="{{ @val }}">
                        <option value="{{ @val }}"> {{ @val }} </option>
                    </repeat>
                </select>
                <span class="err" id="err-status">Status is Required</span>
            </div>

        </div>

      <!--row 3 -->
      <div class="row d-flex justify-content-center">
          <div class="col-lg-2">
              <label for="kids" class="form-label text">Good with children?</label>
              <select class="form-select" name="kids" id="kids">
                  <option value="" selected="selected">Select an option</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="unknown">Unknown</option>
              </select>
              <span class="err" id="err-kids">Please answer: "unknown" if not known</span>
          </div>

          <div class="col-lg-2">
              <label for="goodwpets" class="form-label text">Good with other Pets?</label>
              <select class="form-select" name="goodwpets" id="goodwpets">
                  <option value="" selected="selected">Select an option</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="unknown">Unknown</option>
              </select>
              <span class="err" id="err-pets">Please answer: "unknown" if not known</span>
          </div>

          <div class="col-lg-2">
              <label for="health" class="form-label text">Health Concerns:</label>
              <input type="text" id="health" name="health" class="form-control">
              <span class="err" id="err-health">Please answer: "unknown" if not known</span>
          </div>
      </div>
      <br>
      <!--row 4 -->
      <div class="row d-flex justify-content-center">
          <div class="col-lg-5">
            <label for="description" class="form-label text">Description:</label>
            <textarea id="description" name="description" class="form-control h-100" ></textarea>

              <check if="{{ isset( @errors['description'])}}">
                  <span class="text-danger">{{ @errors['description'] }}</span>
              </check>
          </div>
          <!--image -->
          <div class="col-lg-1">
              <label for="file" class="form-label text">Select Image:</label>
              <input class="text" id="file" type="file" name="file">

              <check if="{{ isset( @errors['imgUpload'])}}">
                  <span class="text-danger">{{ @errors['imgUpload'] }}</span>
              </check>
          </div>
      </div>
        <br>
        <br>
        <div class="row d-flex justify-content-center">
          <div class="text-center">
              <input type="submit" name="submit" value="upload" class="btn btn-primary next-button">
          </div>
        </div>
  </div>

</form>
<br>
<br>

<script src="//code.jquery.com/jquery.js"></script>
<script src="javascript/validate.js"></script>

<include href="views/footer.html"></include>