<!--SDEV 328
Authors: Katherine Watkins, Alex Brenna, Dee Brecke
adoptable page with included header and footer
and adoptable pets from the shelter in a table
-->

<include href="views/header.html"></include>
<br>

<table class="table">
    <thead>
    <tr>
        <th scope="col">image</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Species</th>
        <th scope="col">Location</th>
        <th scope="col">Description</th>

    </tr>
    </thead>
    <tbody>
    <repeat group="{{ @availablepets }}" value="{{ @availablepets }}">
        <tr>
            <th><img src="{{ @availablepets['ImgUrl'] }}" alt="animals Image"></th>
            <th>{{ @availablepets['Name'] }} </th>
            <th>{{ @availablepets['Age'] }}</th>
            <th>{{ @availablepets['Species'] }}</th>
            <th>{{ @availablepets['City'] }}, {{ @availablepets['State'] }}</th>
            <th>{{ @availablepets['Description']}}</th>
        </tr>
    </repeat>
    </tbody>
</table>

<include href="views/footer.html"></include>