<include href="views/header.html"></include>
<div class="container-fluid">
    <div class="row" id="row1">
        <div class="col-6 img-div">
            <img src="images/orange-cat.jpg" class=img-fluid" id="orange" alt="Picture of an orange cat">
        </div>
        <div class="col-6 description">
            <h1 id="pom">Pet of the Month</h1>
            <p>Meet "Harry". He's a one-year-old orange tabby cat in excellent health.
            He was loved and well cared-for but one of the children in his family developed a
            pet allergy and they couldn't keep him. He is very sweet, and he will cuddle
            you for hours. But don't let his good temperament fool you--he LOVES to play.
            With his confident and friendly disposition, Harry has a way of winning over the hearts of
            everyone he meets. He is truly a unique and unforgettable cat,
            with a personality that is sure to bring joy and laughter to any household. He was an
            indoor/outdoor pet, so whatever your preference, he will accommodate.</p>
        </div>
    </div>
    <div class="row" id="row2">
        <div class="col-6 description">
            <h1 id="new">New Arrival</h1>
            <p> Welcome George to our rescue site. At first he is a little skeptical of people and his
                surroundings but once he starts getting into a routine he quickly gets with the program and
                becomes part of you. He is a gorgeous blonde with beautiful eyes, a tall dog that weighed in
                at 80 plus pounds plus a tail that curls on his back. He came to us extremely underweight and
                needed to be fully medically vetted and heartworm negative. We believe he is a Lab/ Great
                Pyrenees mix and young at close to 2 years old! After he becomes acclimated to a new environment,
                he is a big ole ham and large clumsy baby!  He is very puppy-like but starting to realize how big
                he is. He loves to play but doesn’t realize how tall he really is, or when he stands on his hind
                legs or jumps up and towers over you!  He has been with us because he needs a home willing to work
                with him and can handle a big dog. We are working on getting him to not jump up and he is doing
                better at it. When he was discovered, he did fine around children that may have come innately,
                but while playing he could easily knock one down and likes to play rough even with Adults but
                quickly learning. George is the perfect dog for a family used to large puppy-like dogs! He also
                tends to be a bit mouthy during play with no bad intention. He does know how to calm down and
                enjoys laying in the sun and just chilling or inside. He is crate trained and housebroken now
                and we are still working on some obedience, but he will definitely require a strong handler and
                more training. He does do well around other dogs once properly introduced and he enjoys playing
                with them. He would benefit in a home where there is another big dog or he would enjoy or as an
                only dog with people around. He is affectionate and enjoys hugs, pets, and love! He is also
                protective and will watch over his family and home. He will be a marvelous dog with a family
                used to big working breeds and have the willingness to work with him to get him to be all
                he can be. He does require a large fenced-in area. </p>
        </div>
        <div class="col-6 img-div">
            <img src="images/george_dog.jpg" class=img-fluid" id="george" alt="Picture of a skinny dog">
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>