<include href="views/header.html"></include>
<body>
<div class="container">
    <div class="row" id="row1">
        <div class="col-6">
            <img src="images/orange_cat.jpg" id="orange" alt="Picture of an orange cat">
        </div>
        <div class="col-6">
            <h1>Pet of the Month</h1>
            <p>Meet "Harry". He's a three year old orange tabby cat in excellent health.
            He was loved and well cared-for but one of the children in his family developed a
            pet allergy and they couldn't keep him. He is very sweet, and he will cuddle
            you for hours. But don't let his good temperament fool you--he LOVES to play. He was an
            indoor/outdoor pet, so whatever your preference, he will accomodate.</p>
        </div>
    </div>
    <div class="row" id="row2">
        <div class="col-6">
            <h1>New Arrival</h1>
            <p>This adorable pup just showed up last week. He has had a very rough time in his
            short little life so far. He is such a sweetie and loves to sit on your lap.</p>
        </div>
        <div class="col-6">
            <img src="images/mop_dog.jpg" id="mop" alt="Picture of a cute dog">
        </div>
    </div>






</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>