<!--SDEV 328
Authors: Katherine Watkins, Alex Brenna, Dee Brecke
missing page with included header and footer
and missing pets so others can help find them
-->

<include href="views/header.html"></include>
<h1>missingPostInfo</h1>
<repeat group="{{ @LostPet }}" value="{{ @LostPet }}">
<div class="row">
    <div class="col-6">
        <p class="text">Name:  {{ @LostPet['Name'] }}</p>
        <hr>
        <p class="text">Age:  {{ @LostPet['Age'] }}</p>
        <hr>
        <p class="text">State:  {{ @LostPet['Species'] }}</p>
        <hr>
        <p class="text">Sex:  {{ @LostPet['Sex'] }}  </p>
        <hr>
        <p class="text">Description:  {{ @LostPet['Description'] }}  </p>
        <hr>
        <p class="text">Datemissing:  {{ @LostPet['Datamissing'] }}  </p>
        <hr>
        <p class="text">Location:  {{ @LostPet['City'] }},{{ @LostPet['State'] }}  </p>
        <hr>

    </div>
    <div class="col-6">
        <img src="{{ @LostPet['ImgUrl'] }}" alt="animals Image">
    </div>
</div>
</repeat>
<include href="views/footer.html"></include>

<!--
array(14) {
["PetID"]=>
string(1) "1"
["Name"]=>
string(3) "bob"
["Age"]=>
string(2) "21"
["Sex"]=>
string(6) "Female"
["Species"]=>
string(3) "Cat"
["Description"]=>
string(9) "harry cat"
["ImgUrl"]=>
string(19) "images/harryCat.jpg"
["State"]=>
string(2) "WA"
["City"]=>
string(8) "Spanaway"
["LostPetID"]=>
string(1) "1"
["OwnersName"]=>
string(5) "bobby"
["Email"]=>
string(11) "a@gmail.com"
["Phone"]=>
string(10) "1201202323"
["Datamissing"]=>
NULL
}-->
