<!--SDEV 328
Authors: Katherine Watkins, Alex Brenna, Dee Brecke
missing page with included header and footer
and missing pets so others can help find them
-->

<include href="views/header.html"></include>
<repeat group="{{ @LostPet }}" value="{{ @LostPet }}">
<div class="row">
    <div class="col-6">
        <p class="text">Name:  {{ @LostPet['Name'] }}</p>
        <hr>
        <p class="text">Age:  {{ @LostPet['Age'] }}</p>
        <hr>
        <p class="text">Species:  {{ @LostPet['Species'] }}</p>
        <hr>
        <p class="text">Sex:  {{ @LostPet['Sex'] }}  </p>
        <hr>
        <p class="text">Description:  {{ @LostPet['Description'] }}  </p>
        <hr>
        <p class="text">Datemissing:  {{ @LostPet['Datamissing'] }}  </p>
        <hr>
        <p class="text">Location:  {{ @LostPet['City'] }},{{ @LostPet['State'] }}  </p>
        <hr>

    </div>
    <div class="col-6">
        <img class="img-info" src="{{ @LostPet['ImgUrl'] }}" alt="animals Image">
    </div>
</div>
</repeat>
<include href="views/footer.html"></include>


