<!--SDEV 328
Authors: Katherine Watkins, Alex Brenna, Dee Brecke
missing page with included header and footer
and missing pets so others can help find them
-->

<include href="views/header.html"></include>
<br>
<table class="table">
    <thead>
    <tr>
        <th class="text" scope="col">image</th>
        <th class="text" scope="col">Name</th>
        <th class="text" scope="col">Age</th>
        <th class="text" scope="col">Species</th>
        <th class="text" scope="col">Location</th>
        <th class="text" scope="col">Description</th>
        <th class="text" scope="col">More Info</th>
    </tr>
    </thead>
    <tbody>
    <repeat group="{{ @LostPets }}" value="{{ @LostPets }}">
        <tr>
            <th><img class="img-thumbnail" src="{{ @LostPets['ImgUrl'] }}" alt="animals Image"></th>
            <th class="text">{{ @LostPets['Name'] }} </th>
            <th class="text">{{ @LostPets['Age'] }}</th>
            <th class="text">{{ @LostPets['Species'] }}</th>
            <th class="text">{{ @LostPets['City'] }}, {{ @LostPets['State'] }}</th>
            <th class="text">{{ @LostPets['Description']}}</th>
            <th class="text"><a href="missingPostInfo?id={{ @LostPets['PetID']}}"><button >More info</button></a></th><!--PetID-->
        </tr>
    </repeat>
    </tbody>
</table>

<include href="views/footer.html"></include>
