<!--SDEV 328
Authors: Katherine Watkins, Alex Brenna, Dee Brecke
missing page with included header and footer
and missing pets so others can help find them
-->

<include href="views/header.html"></include>
<br>
<table class="table">
    <thead>
    <tr>
        <th class="text" scope="col">image</th>
        <th class="text" scope="col">Name</th>
        <th class="text" scope="col">Age</th>
        <th class="text" scope="col">Species</th>
        <th class="text" scope="col">Location</th>
        <th class="text" scope="col">Description</th>
        <th class="text" scope="col">More Info</th>
    </tr>
    </thead>
    <tbody>
    <repeat group="{{ @LostPets }}" value="{{ @LostPets }}">
        <tr>
            <th><img src="{{ @LostPets['ImgUrl'] }}" alt="animals Image"></th>
            <th class="text">{{ @LostPets['Name'] }} </th>
            <th class="text">{{ @LostPets['Age'] }}</th>
            <th class="text">{{ @LostPets['Species'] }}</th>
            <th class="text">{{ @LostPets['City'] }}, {{ @LostPets['State'] }}</th>
            <th class="text">{{ @LostPets['Description']}}</th>
            <th class="text"><button ></button></th><!--PetID-->
        </tr>
    </repeat>

    </tbody>
</table>
<!--<div class="container">
    <h1>Admin Page</h1>
    <repeat group="{{ @orders }}" value="{{ @order }}">
        <p>OrderID: {{ @order['orderId'] }}<br>
            Food: {{ @order['food'] }}<br>
            Meal: {{ @order['meal'] }}<br>
            Condiments: {{ @order['conds'] }}<br>
        </p>
    </repeat>
</div>-->

<!--<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>-->
<include href="views/footer.html"></include>
