
<!--All of this is actually the lost pet summary until I change it -->

<include href="views/header.html"></include>
</div>
</nav>
<!--Above required for each page for navbar-->
<h1 class="about-title text-center">Preview Post Before Submitting</h1>
<br>
<div class="container border rounded margin-bottom">
  <!--Summary from form left, picture right-->
  <div class="row d-flex flex-wrap align-items-center">
    <div class="col-md-6 ">
      <h4 class="about-title text-center">Pet Information</h4>

      <p class="text">Pet's Name: {{ @_SESSION['newShelterPet']->getName() }}</p>
      <hr class="summary">
      <p class="text">Age of Pet: {{ @_SESSION['newShelterPet']->getAge() }}</p>
      <hr class="summary">
      <p class="text">Species: {{ @_SESSION['newShelterPet']->getSpecies() }}</p>
      <hr class="summary">
      <p class="text">Sex: {{ @_SESSION['newShelterPet']->getSex() }}</p>
      <hr class="summary">
      <p class="text">Microchipped? {{ @_SESSION['newShelterPet']->getMicrochip() }}</p>
      <hr class="summary">
      <p class="text">City: {{ @_SESSION['newShelterPet']->getCity() }}</p>
      <hr class="summary">
      <p class="text">State: {{ @_SESSION['newShelterPet']->getState() }}</p>
      <hr class="summary">
      <p class="text">Status: {{ @_SESSION['newShelterPet']->getStatus() }}</p>
      <hr class="summary">
      <p class="text" >Good with kids? {{ @_SESSION['newShelterPet']->getGoodWithKids() }}</p>
      <hr class="summary">
      <p class="text">City: {{ @_SESSION['newShelterPet']->getGoodWithOtherPets() }}</p>
      <hr class="summary">
      <p class="text">Description: {{ @_SESSION['newSheltertPet']->getDescription() }}</p>
      <hr class="summary">
      <p class="text">Health Conditions: {{ @_SESSION['newSheltertPet']->getHealthConditions() }}</p>
      <hr class="summary">

    </div>
    <div class="col-md-6 img-display">
      <check if="{{ @_SESSION['newShelterPet']->getimgUrl() !== '' }}">
        <true>
          <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ @_SESSION['newLostPet']->getimgUrl() }}" alt="user uploaded image">

        </true>
        <false>
          <img class="img-fluid img-thumbnail mx-auto d-block" src="images/harryCat.jpg" alt="user uploaded image">
        </false>
      </check>
    </div>
  </div>
</div><br>
<!--submit my post centered-->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="d-grid gap-2">
      <form action="shelterPetSummary" method="post">
        <button type="submit" class="btn btn-primary">Submit My Post!</button>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<include href="views/footer.html"></include>