<include href="views/header.html"></include>
</div>
</nav>
<!--Above required for each page for navbar-->
<h1 class="about-title text-center">Preview Post Before Submitting</h1>
<br>
<div class="container border rounded margin-bottom">
    <!--Summary from form left, picture right-->
    <div class="row d-flex flex-wrap align-items-center">
        <h4 class="about-title text-center">Pet's Information</h4>
        <div class="col-md-6 ">
            <p class="text"><b class="summary-titles">Pet's Name:</b> {{ @_SESSION['newLostPet']->getName() }}</p>
            <hr class="summary">
            <check if="{{@_SESSION['newLostPet']->getDateMissing() != ''}}">
            <p class="text"><b class="summary-titles">Date Missing:</b> {{ @_SESSION['newLostPet']->getDateMissing() }}</p>
            <hr class="summary">
            </check>
            <p class="text"><b class="summary-titles">Species:</b> {{ @_SESSION['newLostPet']->getSpecies() }}</p>
            <hr class="summary">
            <p class="text"><b class="summary-titles">Age:</b> {{ @_SESSION['newLostPet']->getAge() }}</p>
            <hr class="summary">
            <p class="text"><b class="summary-titles">City:</b> {{ @_SESSION['newLostPet']->getCity() }}</p>
            <hr class="summary">
            <p class="text"><b class="summary-titles">State:</b> {{ @_SESSION['newLostPet']->getState() }}</p>
            <hr class="summary">
            <p class="text"><b class="summary-titles">Description:</b> {{ @_SESSION['newLostPet']->getDescription() }}</p>
        </div>
        <div class="col-md-6 img-display">
            <check if="{{ @_SESSION['newLostPet']->getimgUrl() !== '' }}">
                <true>
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ @_SESSION['newLostPet']->getimgUrl() }}" alt="user uploaded image">
                    <br>
                </true>
                <false>
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="images/harryCat.jpg" alt="user uploaded image">
                    <br>
                </false>
            </check>
        </div>
    </div>
</div>

    <br>
<h4 class="text text-center">Information below will not be shown on public post</h4><br>

<div class="container border rounded margin-bottom">
    <h4 class="about-title text-center">Owner's Information</h4>
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-12">
            <p class="top-button text"><b class="summary-titles">Owner's Name:</b> {{ @_SESSION['newLostPet']->getOwnerName() }}</p>
            <hr class="summary">
            <p class="text" ><b class="summary-titles">Email:</b> {{ @_SESSION['newLostPet']->getEmail() }}</p>
            <hr class="summary">
            <p class="text"><b class="summary-titles">Phone:</b> {{ @_SESSION['newLostPet']->getPhone() }}</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div><br>
<!--submit my post centered-->
<div class="container">
    <div class="col-md-12 text-center">
            <form action="summary" method="post">
            <button type="submit" class="btn btn-primary">Submit My Post!</button>
            </form>
    </div>
</div>
<br>

<include href="views/footer.html"></include>