<include href="views/header.html"></include>
</div>
</nav>
<!--Above required for each page for navbar-->
<h1 class="about-title text-center">Preview Post Before Submitting</h1>
<br>
<div class="container border rounded margin-bottom">
    <!--Summary from form left, picture right-->
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 ">
            <h4 class="about-title text-center">Owner's Information</h4>
            <p class="top-button text">Owner's Name: {{ @SESSION.fname}} {{ @SESSION.lname}}</p>
            <hr class="summary">
            <p class="text" >Email: {{ @SESSION.email}}</p>
            <hr class="summary">
            <p class="text">City: {{ @SESSION.city}}</p>
            <hr class="summary">
            <p class="text">State: {{ @SESSION.state}}</p>
            <hr class="summary">
            <p class="text">Phone: {{ @SESSION.phone}}</p>
            <hr class="summary">
            <h4 class="about-title text-center">Pet's Information</h4>
            <p class="text">Pet's Name: {{ @SESSION.pname}}</p>
            <hr class="summary">
            <p class="text">Species: {{ @SESSION.species}}</p>
            <hr class="summary">
            <p class="text">Description: {{ @SESSION.description}}</p>
        </div>
        <div class="col-md-6 img-display">
            <check if="{{isset( @SESSION.imgURL)}}">
                <true>
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ @SESSION.imgURL }}" alt="user uploaded image">
                </true>
                <false>
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="images/harryCat.jpg" alt="user uploaded image">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="images/harryCat.jpg" alt="user uploaded image">
                </false>
            </check>
        </div>
    </div>
</div><br>
<!--submit my post centered-->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Submit My Post!</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<include href="views/footer.html"></include>