.logo{
    margin-left: 20px;
    margin-right:50px;
    height: 75px;
    width: auto;
}
.nav-link{
    color: white !important;
    font-family: Verdana;
    font-size: large;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.navbar-toggler-icon {
    color: black !important;
}
.img-div{
    justify-content: center;
}
body{
    background-color: black;
}
.description{
    background-color: #70c27a;
    margin: 20px;
}
.img-size{
    min-width: 300px;
    height: auto;
}
.pad-text{
    padding: 15px;
}
.about-title{
    color: white;
    margin: 20px;
}
.text{
    color: white;
}