/*
Authors: Katherine Watkins, Alex Brenna, Dee Brecke
328/animalrescue/styles/styles.css
This file contains all the styles for the entire project
 */

.about-title{
    color: white;
    margin: 20px;
}
#adminh1{
    text-align: center;
}
body{
    background-color: black;
}
.btn-facts{
    margin-top: 75px;
}
.btn-primary{
    background-color: #70c27a;
    border-color: #70c27a;
    color: black;
}
.description{
    background-color: #70c27a;
    margin: 20px;
}
.err{
    color: red;
    display: none;
}
.img-div{
    justify-content: center;
}
.img-info{
    width:700px;
    height: auto;
}
.img-size{
    min-width: 300px;
    height: auto;
}
.img-thumbnail{
    width: 200px;
    height: auto;
}
.logo{
    margin-left: 20px;
    margin-right:50px;
    height: 75px;
    width: auto;
}
.nav-link{
    color: white !important;
    font-family: Verdana;
    font-size: large;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.navbar-toggler-icon {
    color: black !important;
}
.pad-text{
    padding: 15px;
}
.summary{
    background-color: white !important;
}
.summary-titles{
    color:#70c27a;
}
.text{
    color: white;
}

